<div class="container">
  <div class="card">
    <div class="strip-block">
      <div class="profile-logo">
        <img src="assets/img/robin-hassan.jpg" alt="">
      </div>
      <div class="strip"></div>
      <div class="short-details">
        <h4 class="tagLine">
          Software Engineer | Spring-Boot | Angular | NodeJS | ReactJS | React Native | AWS
        </h4>
        <blockquote class="quote">
          I'm not a great programmer; I'm just a good programmer with great habits.
        </blockquote>
      </div>
    </div>

    <div class="details">
      <div class="nameBlock">
        <h1 class="round-shape name">
          Robiul Hassan
        </h1>
        <div class="divider">
          <div class="stick stick1"></div>
          <div class="stick stick2"></div>
        </div>
      </div>
      <p class="bio">
        I love coding, new technologies & chocolates. I'm mostly interested in Full Stack Web Development.
        <br> I love to work with Spring Boot, Node.js, Angular & React.
      </p>
      <div (mouseover)="startTadaAnimation = false" [ngClass]="{'tada-animation':startTadaAnimation}">
        <a class="round-shape projects-link" (click)="onExploreMeClick()">
          <span>
            Explore Me
          </span>
        </a>
      </div>
    </div>
    <div class="divider">
      <div class="stick stick1"></div>
      <div class="stick stick2"></div>
    </div>

    <div class="social">
      <div class="social-icon">
        <a href="https://www.github.com/mrh-jishan" target="_blank">
          <img src="assets/assert/contactIcon/github.svg" alt="github icon">
        </a>
      </div>

      <div class="social-icon">
        <a href="https://www.linkedin.com/in/md-robiul-hassan-093a5a10a/" target="_blank">
          <img src="assets/assert/contactIcon/linkedin.png" alt="linkedin icon">
        </a>
      </div>
      <div class="social-icon">
        <a href="mailto:robiul.hassan12102@gmail.com">
          <img src="assets/assert/contactIcon/email.svg" alt="email icon">
        </a>
      </div>
      <div class="social-icon">
        <a href="https://t.me/rforruby">
          <img src="assets/assert/contactIcon/telegram.png" alt="email icon">
        </a>
      </div>
    </div>

  </div>
</div>
