<div class="portfolio-bg">
  <div class="portfolio-container">
    <div class="portfolio-header" #portfolioHeader>
      <rh-dp-logo
        [height]="dpLogoStyle.height"
        [width]="dpLogoStyle.width"
        [borderWidth]="dpLogoStyle.borderWidth">
      </rh-dp-logo>
      <rh-typing
        time="2000"
        delay="1500"
        [text]="animatedTypingText">
      </rh-typing>
    </div>
    <div class="portfolio-area" #portfolioArea>
      <div class="back-icon" (click)="onBackBtnClick()">
        <rh-back-icon></rh-back-icon>
      </div>
      <div class="portfolio-selection"
           #portfolioSelectionArea
           [ngClass]="{'portfolio-selection__fixed': setFixedPostion }">
        <h1>PORTFOLIO</h1>
        <rh-key-skill-btns></rh-key-skill-btns>
      </div>
      <rh-projects></rh-projects>
    </div>
  </div>
</div>
